doctype html
html(lang='ru-RU')
	head
		//Служебная информация для браузера
		meta(charset='utf-8')
		meta(name='description' content='Ремонт квартир под ключ, косметический ремонт, ремонт в новостройках.  Ремонт санузлов, ванных комнат, отделка балконов.  Узнайте стоимость отделочных работ под ваш объект. Выезд замерщика бесплатно. Мы предлагаем средние расценки по Санкт-Петербургу. Учитываем бюджет. Гарантия на все работы. Поэтапная оплата. После подписания договора, стоимость ремонта не меняется. Вывоз мусора.')
		meta(name='keywords' content='')
		//Фавикон
		title YIstroi — Ремонт квартир и коттеджей, все виды ремонтных работ.
	body
		div.container
			//Шапка сайта
			header.header
				div.header__nav
					a.menu__link(href='?') Главная
					a.menu__link(href='?') О нас
					a.menu__link(href='?') Услуги
					a.menu__link(href='?') Прайс
					a.menu__link(href='?') Контакты
					a.menu__link(href='mailto: yistroi@mail.ru') yistroi@mail.ru
					a.menu__link(href='tel: +79500102410') +79500102410
					a.menu__link(href='https://vk.com/yi_stroi' target='_blank')
						img.vk__icon(src="?" alt="vkontakte" width="?")
			//Основное содержимое
			main.main
				//Первый (приветственный) блок
				div.main__block.hello 
					div.hello__container
						div.hello__block1
							h1.hello__name
							p.hello__text
						div.hello__block2
				//Второй блок
				div.main__block.about
				//Третий блок
				div.main__block.services
				//Четвёртый блок
				div.main__block.promo
					div.promo-1
					div.promo-2
					div.promo-3
				//Пятый блок
				div.main__block.cosmetic
				//Шестой блок
				div.main__block.capital
				//Седьмой блок
				div.main__block.new
				//Восьмой блок
				div.main__block.price
				//Девятый блок
				div.main__block.video
				//Десятый блок
				div.main__block.work
				//Одиннадцатый блок
				div.main__block.contacts
			//Подвал сайта
			footer.footer