header.header
	div.header__nav
		a.menu__link(href='index.html#hello') Главная
		a.menu__link(href='index.html#about') О нас
		a.menu__link(href='index.html#services') Услуги
		a.menu__link(href='index.html#price') Прайс
		a.menu__link(href='index.html#contacts') Контакты
		a.menu__link(href='mailto: yistroi@mail.ru') yistroi@mail.ru
		a.menu__link(href='tel: +79500102410') +79500102410
		a.menu__link(href='https://vk.com/yi_stroi' target='_blank')
			img.vk__icon(src="img/vk.png" alt="vkontakte")