table.table__price.table__price2
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	tr.table__row
		td.table__cell.first-col Укладка армирующей сетки
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Устройство стяжки песчано-цементной смесью толщиной до 5 см 
		td.table__cell м²
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Устройство бетонной стяжки
		td.table__cell м²
		td.table__cell 450
	tr.table__row
		td.table__cell.first-col Устройство лаг
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Засыпка керамзитом
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Пароизоляция
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Устройство черновых досок
		td.table__cell м²
		td.table__cell 140
	tr.table__row
		td.table__cell.first-col Настил ГВЛ
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Настил фанеры
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Частичное выравнивание пола (заделка рустов, трещин, отверстий)
		td.table__cell м²
		td.table__cell 140
	tr.table__row
		td.table__cell.first-col Выравнивание самовыравнивающим составом
		td.table__cell м²
		td.table__cell 240
	tr.table__row
		td.table__cell.first-col Установка маяков
		td.table__cell м. пог.
		td.table__cell 90
	tr.table__row
		td.table__cell.first-col Грунтовка пола 1 цикл
		td.table__cell м²
		td.table__cell 40
	tr.table__row
		td.table__cell.first-col Устройство стяжки финишной
		td.table__cell м²
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Гидроизоляция пола
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Циклевка деревянного пола
		td.table__cell м²
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Монтаж теплого пола
		td.table__cell м²
		td.table__cell
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Ламинат
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Настил ламината по диагонали
		td.table__cell м²
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Настил подложки
		td.table__cell м²
		td.table__cell 40
	tr.table__row
		td.table__cell.first-col Настил ковролина
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Линолеум
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Настил паркетной доски
		td.table__cell м²
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Лакировка паркета (2 слоя)
		td.table__cell м²
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Паркетная доска на подложку
		td.table__cell м²
		td.table__cell
	tr.table__row
		td.table__cell.first-col Паркетная доска на клей
		td.table__cell м²
		td.table__cell
	tr.table__row
		td.table__cell.first-col Монтаж плинтуса пластикового
		td.table__cell м. пог.
		td.table__cell 90
	tr.table__row
		td.table__cell.first-col Монтаж плинтуса деревянного
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Монтаж плинтуса из пенополиуретана с покраской
		td.table__cell м. пог.
		td.table__cell
	tr.table__row
		td.table__cell.first-col Монтаж плинтуса пластикового
		td.table__cell шт.
		td.table__cell 90
	tr.table__row
		td.table__cell.first-col Установка порожков
		td.table__cell м. пог.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Монтаж порога (кафель)
		td.table__cell м. пог.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Монтаж порога (керамогранит)
		td.table__cell м. пог.
		td.table__cell 900
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
	td.table__cell.first-col Укладка напольной керамической плитки одного рисунка (30*30)
		td.table__cell м²
		td.table__cell 850
	tr.table__row
		td.table__cell.first-col Укладка напольной керамической плитки по диагонали (30*30)
		td.table__cell м²
		td.table__cell 950
	tr.table__row
		td.table__cell.first-col Укладка напольной керамической плитки одного рисунка (40*40,50*50, 60*20,60*60 45*45)
		td.table__cell м²
		td.table__cell от 1100
	tr.table__row
		td.table__cell.first-col Укладка напольной керамической плитки по диагонали (40*40,50*50, 60*20,60*60 45*45)
		td.table__cell м²
		td.table__cell от 1200
	tr.table__row
		td.table__cell.first-col Кабанчик 7,5*15
		td.table__cell м²
		td.table__cell 1000
	tr.table__row
		td.table__cell.first-col Укладка керамогранита (30*30)
		td.table__cell м²
		td.table__cell 1000
	tr.table__row
		td.table__cell.first-col Укладка керамогранита по диагонали (30*30)
		td.table__cell м²
		td.table__cell 1150
	tr.table__row
		td.table__cell.first-col Укладка керамогранита (40*40,50*50, 60*20,60*60 45*45)
		td.table__cell м²
		td.table__cell  от 1200
	tr.table__row
		td.table__cell.first-col Укладка керамогранита по диагонали (40*40,50*50, 60*20,60*60 45*45)
		td.table__cell м²
		td.table__cell от 1300
	tr.table__row
		td.table__cell.first-col Затирка швов
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Облицовка порога кафельной плиткой
		td.table__cell шт.
		td.table__cell 800