table.table__price.table__price1
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	// Стены
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Стены
	tr.table__row
		td.table__cell.first-col Демонтаж ГКЛ обшивки
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Демонтаж рейки со стен 
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Демонтаж перегородок из ГКЛ
		td.table__cell м²
		td.table__cell 160
	tr.table__row
		td.table__cell.first-col Демонтаж перегородок из газосиликат
		td.table__cell м²
		td.table__cell 210
	tr.table__row
		td.table__cell.first-col Демонтаж перегородок из кирпича
		td.table__cell м²
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Демонтаж перегородки деревянной 
		td.table__cell м²
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Снос пазогребниевой перегородки
		td.table__cell м²
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Демонтаж перегородки (доска, дранка, штукатурка)
		td.table__cell м²
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Снос пазогребниевой перегородки
		td.table__cell м²
		td.table__cell 230
	tr.table__row
		td.table__cell.first-col Снос стен Жб (толщиной до 5 см) 
		td.table__cell м²
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Снос стен Жб (толщиной от 5 см-10 см) 
		td.table__cell м²
		td.table__cell 1100
	tr.table__row
		td.table__cell.first-col Снос стен Жб (толщиной от 10 см-20 см) 
		td.table__cell м²
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Демонтаж напольного плинтуса
		td.table__cell м. пог.
		td.table__cell 30
	tr.table__row
		td.table__cell.first-col Демонтаж краски и побелки 
		td.table__cell м²
		td.table__cell 190
	tr.table__row
		td.table__cell.first-col Демонтаж штукатурки
		td.table__cell м²
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Демонтаж керамической плитки (без сохранения материала)
		td.table__cell м²
		td.table__cell 90
	tr.table__row
		td.table__cell.first-col Очистка стен от старых обоев (до 2-х слоёв)
		td.table__cell м²
		td.table__cell 65
	tr.table__row
		td.table__cell.first-col Демонтаж стеновых панелей с обрешеткой (МДФ, пластик) 
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Бурение сквозное в ЖБ 10-20см
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Демонтаж короба ГКЛ
		td.table__cell м²
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Демонтаж наличников
		td.table__cell компл.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Демонтаж шкафа 
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Демонтаж вент короба 
		td.table__cell м. пог.
		td.table__cell 310
	tr.table__row
		td.table__cell.first-col Демонтаж антресоли
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Демонтаж дверного блока
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Демонтаж балконного блока
		td.table__cell шт.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Демонтаж оконного блока
		td.table__cell шт.
		td.table__cell
	tr.table__row
		td.table__cell.first-col Подпил двери
		td.table__cell шт.
		td.table__cell 430
	// Пол
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Пол
	tr.table__row
		td.table__cell.first-col Демонтаж цементной стяжки до 50 мм.
		td.table__cell м²
		td.table__cell 230
	tr.table__row
		td.table__cell.first-col Демонтаж лаг
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Демонтаж черновых досок
		td.table__cell м²
		td.table__cell 120
	tr.table__row
		td.table__cell.first-col Сбивка монолитного пола
		td.table__cell м²
		td.table__cell 1000
	tr.table__row
		td.table__cell.first-col Демонтаж паркетного пола штучный
		td.table__cell м²
		td.table__cell 120
	tr.table__row
		td.table__cell.first-col Демонтаж линолеума, ковролина, ламината, плиток ПВХ
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Демонтаж оргалита
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Демонтаж старой плитки (без сохранения материала)
		td.table__cell м²
		td.table__cell 140
	tr.table__row
		td.table__cell.first-col Сбивка бетонного порога
		td.table__cell шт.
		td.table__cell 310
	tr.table__row
		td.table__cell.first-col Демонтаж плинтуса
		td.table__cell м. пог.
		td.table__cell 30
	tr.table__row
		td.table__cell.first-col Демонтаж бетонного плинтуса
		td.table__cell м. пог.
		td.table__cell 260
	// Потолок
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Потолок
	tr.table__row
		td.table__cell.first-col Размывка мела, водоэмульсионки, олифы, извести
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Очистка потолка от краски или шпатлёвки 
		td.table__cell м²
		td.table__cell 210
	tr.table__row
		td.table__cell.first-col Расшивка рустов
		td.table__cell м. пог.
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Снятие старых обоев
		td.table__cell м²
		td.table__cell 90
	tr.table__row
		td.table__cell.first-col Демонтаж реечного потолка 
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Демонтаж подвесного потолка Армстронг
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Демонтаж подвесных потолков
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Демонтаж полистироловой (пенопластовой) плитки с потолка
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Демонтаж потолков из ГКЛ (без сохранения материала)
		td.table__cell м²
		td.table__cell 130
	tr.table__row
		td.table__cell.first-col Демонтаж подвесных потоков
		td.table__cell м²
		td.table__cell 130
	// Сантехника
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Сантехника
	tr.table__row
		td.table__cell.first-col Демонтаж ванны
		td.table__cell шт.
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Демонтаж ванны (чугун)
		td.table__cell шт.
		td.table__cell 950
	tr.table__row
		td.table__cell.first-col Демонтаж душевой кабины
		td.table__cell шт.
		td.table__cell
	tr.table__row
		td.table__cell.first-col Демонтаж унитаза
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Демонтаж смесителя
		td.table__cell шт.
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Демонтаж раковины
		td.table__cell шт.
		td.table__cell 170
	tr.table__row
		td.table__cell.first-col Демонтаж раковины с тумбой
		td.table__cell шт.
		td.table__cell 290
	tr.table__row
		td.table__cell.first-col Демонтаж полотенцесушителя
		td.table__cell шт.
		td.table__cell 1800
	tr.table__row
		td.table__cell.first-col Демонтаж труб отопления, водоснабжения
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Демонтаж труб
		td.table__cell компл.
		td.table__cell 1000
	tr.table__row
		td.table__cell.first-col Демонтаж коллектора
		td.table__cell шт.
		td.table__cell 160
	tr.table__row
		td.table__cell.first-col Демонтаж фильтра тонк. и гр. очистки 
		td.table__cell шт.
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Демонтаж счётчика учёта воды 
		td.table__cell шт.
		td.table__cell 200
	// Электрика
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Электрика
	tr.table__row
		td.table__cell.first-col Демонтаж бра
		td.table__cell шт.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Демонтаж точечного светильника
		td.table__cell шт.
		td.table__cell 130
	tr.table__row
		td.table__cell.first-col Демонтаж люстры
		td.table__cell шт.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Демонтаж эл.точки (розетка,выключатель)
		td.table__cell шт.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Демонтаж электро-автомата
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Демонтаж, монтаж электро-счетчика
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Демонтаж электро-счетчика
		td.table__cell шт.
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Демонтаж электропроводки
		td.table__cell м. пог.
		td.table__cell 24