table.table__price.table__price4
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	tr.table__row
		td.table__cell.first-col Обработка потолка антигрибком
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Монтаж малярной сетки
		td.table__cell м. пог.
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Штукатурка рустов на потолке
		td.table__cell м. пог.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Монтаж штукатурных маяков на потолок
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Грунтовка потолка (в 3 цикла)
		td.table__cell м²
		td.table__cell 130
	tr.table__row
		td.table__cell.first-col Грунтовка потолка (в 2 цикла)
		td.table__cell м²
		td.table__cell 85
	tr.table__row
		td.table__cell.first-col Грунтовка потолка (в 1 цикл)
		td.table__cell м²
		td.table__cell 40
	tr.table__row
		td.table__cell.first-col Шпатлёвка (в 2 слоя)
		td.table__cell м²
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Устройство металло - каркаса в один уровень
		td.table__cell м²
		td.table__cell 
	tr.table__row
		td.table__cell.first-col Устройство металло - каркаса в два уровень
		td.table__cell м²
		td.table__cell 
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж закладной
		td.table__cell м²
		td.table__cell 850
	tr.table__row
		td.table__cell.first-col Устройство потолка из ГКЛ в два уровня с прямолинейными элементами
		td.table__cell м²
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Устройство потолка ГКЛ в один слой в один уровень на каркас
		td.table__cell м²
		td.table__cell 400
	tr.table__row
		td.table__cell.first-col Устройство потолка ГКЛ в два уровня по инд проекту
		td.table__cell изделие
		td.table__cell
	tr.table__row
		td.table__cell.first-col Устройство декоративных коробов по периметру помещений (прямолинейных)
		td.table__cell м. пог.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Устройство декоративных коробов по периметру помещений (прямолинейных) со световым карнизом
		td.table__cell м. пог.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Устройство теплоизоляции (пеноплекс)
		td.table__cell м²
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж малярного уголка
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Малярные работы по коробу (комплекс: шпатлёвка 2 слоя, шлифовка, грунтовка 2 слоя и покраска)
		td.table__cell м. пог.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Визуальное выравнивание
		td.table__cell м²
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Оштукатуривание потолка под маяк
		td.table__cell м²
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Ошкуривание
		td.table__cell м²
		td.table__cell 70
	tr.table__row
		td.table__cell.first-col Мелкозернистая шпатлёвка под окраску
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Шлифовка потолка под покраску
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Покраска потолка (в 2 слоя)
		td.table__cell м²
		td.table__cell 190
	tr.table__row
		td.table__cell.first-col Поклейка на потолок полистироловой (пенопластовой) плитки
		td.table__cell м²
		td.table__cell 180
	tr.table__row
		td.table__cell.first-col Поклейка потолочных обоев при высоте потолков до 3-х м
		td.table__cell м²
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Поклейка стеклообоев на потолок
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Монтаж потолочного плинтуса
		td.table__cell м. пог.
		td.table__cell 120
	tr.table__row
		td.table__cell.first-col Покраска потолочного плинтуса (грунт, шпатлевка, покраска)
		td.table__cell м. пог.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Монтаж карниза европласт
		td.table__cell м. пог.
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Покраска карниза (грунт, шпатлевка, покраска)
		td.table__cell м. пог.
		td.table__cell 170
	tr.table__row
		td.table__cell.first-col Устройство каркаса для реечного потолка
		td.table__cell м. пог.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Устройство каркаса
		td.table__cell 
		td.table__cell 
	tr.table__row
		td.table__cell.first-col Устройство реечного потолка
		td.table__cell м²
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Обшивка потолка ПВХ панелью
		td.table__cell м²
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Монтаж потолка Армстронг (с каркасом)
		td.table__cell м²
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3') Наценка на высоту
	tr.table__row
		td.table__cell.first-col от 3м до 3,3м
		td.table__cell
		td.table__cell 15,00%
	tr.table__row
		td.table__cell.first-col от 3,3м до 3,6м
		td.table__cell
		td.table__cell 25,00%
	tr.table__row
		td.table__cell.first-col от 3,6м до 4м
		td.table__cell
		td.table__cell 35,00%
	tr.table__row
		td.table__cell.first-col от 4м до 5м
		td.table__cell
		td.table__cell 50,00%