table.table__price.table__price5
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	tr.table__row
		td.table__cell.first-col Устройство штробы (2см * 2см)
		td.table__cell м. пог.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Устройство штробы (2см * 4см)
		td.table__cell м. пог.
		td.table__cell 400
	tr.table__row
		td.table__cell.first-col Устройство штробы (2см * 6см и более)
		td.table__cell м. пог.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Прокладка кабеля
		td.table__cell м. пог.
		td.table__cell 70
	tr.table__row
		td.table__cell.first-col Прокладка кабеля в гофре
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Заделка штробы
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Устройство гнезда подрозетника
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Устройство гнезда под эл.щиток (в кирпичной стене)
		td.table__cell шт.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Устройство гнезда под эл.щиток (в жб стене)
		td.table__cell шт.
		td.table__cell 1100
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Демонтаж, монтаж эл.щитка
		td.table__cell шт.
		td.table__cell 3000
	tr.table__row
		td.table__cell.first-col Перенос электро-счетчика
		td.table__cell шт.
		td.table__cell 3500
	tr.table__row
		td.table__cell.first-col Монтаж распределительной коробки
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж электро-автомата
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Подключение трансформатора
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Подключение линии силовой к щиту
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Прокладка кабеля открытым способом
		td.table__cell м. пог.
		td.table__cell 70
	tr.table__row
		td.table__cell.first-col Подключение телевизионной и телефонной сети к щиту
		td.table__cell шт.
		td.table__cell 420
	tr.table__row
		td.table__cell.first-col Установка контактора и автоматов защиты
		td.table__cell шт.
		td.table__cell 1300
	tr.table__row
		td.table__cell.first-col Установка датчиков
		td.table__cell шт.
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Установка звонка
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Прокладка малоточки Телефон
		td.table__cell м. пог.
		td.table__cell 60
	tr.table__row
		td.table__cell.first-col Прокладка малоточки TV Internet
		td.table__cell м. пог.
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж розетки
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Монтаж выключателя
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Монтаж сетевой розетки на эл.плиту
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж силовой розетки
		td.table__cell шт.
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Монтаж телефонной/ТВ розетки/Интернет
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Замена розеток и выключателей
		td.table__cell шт.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Подключение и установка вытяжного вентилятора
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж бра
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Монтаж люстры
		td.table__cell шт.
		td.table__cell 750
	tr.table__row
		td.table__cell.first-col Монтаж светодиодной ленты
		td.table__cell компл.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Устройство точечного светильника
		td.table__cell шт.
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Установка светильников на потолке «Армстронг»
		td.table__cell шт.
		td.table__cell 400
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж реостата тёплого пола
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Укладка нагревательного элемента тёплого пола
		td.table__cell компл.
		td.table__cell 1200
	tr.table__row
		td.table__cell.first-col Прокладка нагревательного элемента тёплого пола
		td.table__cell м²
		td.table__cell 464