div.price__container
	div.price__block
		input.price__input.price__input1(type="radio" name="price__radio" id="price__input1" checked)
		label.price__label.price__label1(for="price__input1") Демонтажные работы
		table.table__price.table__price1
			tr.table__row
				th.table__header.first-col-head Наименование работ
				th.table__header Ед. изм.
				th.table__header Цена (руб)
			tr.table__row
				th.table__cell.first-col Демонтаж перегородок из ГКЛ
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Демонтаж перегородок из ГКЛ
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Демонтаж перегородок из ГКЛ
				th.table__cell м²
				th.table__cell 4
	div.price__block
		input.price__input.price__input2(type="radio" name="price__radio" id="price__input2")
		label.price__label.price__label2(for="price__input2") Полы
		table.table__price.table__price2
			tr.table__row
				th.table__header.first-col-head Наименование работ
				th.table__header Ед. изм.
				th.table__header Цена (руб)
			tr.table__row
				th.table__cell.first-col Армирование стяжки пола
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Армирование стяжки пола
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Армирование стяжки пола
				th.table__cell м²
				th.table__cell 4
	div.price__block
		input.price__input.price__input3(type="radio" name="price__radio" id="price__input3")
		label.price__label.price__label3(for="price__input3") Стены
		table.table__price.table__price3
			tr.table__row
				th.table__header.first-col-head Наименование работ
				th.table__header Ед. изм.
				th.table__header Цена (руб)
			tr.table__row
				th.table__cell.first-col Монтаж перегородок (газосиликат)
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Монтаж перегородок (газосиликат)
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Монтаж перегородок (газосиликат)
				th.table__cell м²
				th.table__cell 4
	div.price__block
		input.price__input.price__input4(type="radio" name="price__radio" id="price__input4")
		label.price__label.price__label4(for="price__input4") Потолки
		table.table__price.table__price4
			tr.table__row
				th.table__header.first-col-head Наименование работ
				th.table__header Ед. изм.
				th.table__header Цена (руб)
			tr.table__row
				th.table__cell.first-col Штукатурка по маякам
				th.table__cell м²
				th.table__cell 4
			tr.table__row
				th.table__cell.first-col Штукатурка по маякам
				th.table__cell м²
				th.table__cell 5
			tr.table__row
				th.table__cell.first-col Штукатурка по маякам
				th.table__cell м²
				th.table__cell 6