table.table__price.table__price6
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	tr.table__row
		td.table__cell.first-col Монтаж ванной (стальной/акриловой)
		td.table__cell шт.
		td.table__cell 2200
	tr.table__row
		td.table__cell.first-col Монтаж ванной (чугун)
		td.table__cell шт.
		td.table__cell 3000
	tr.table__row
		td.table__cell.first-col Монтаж джакузи
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж душ кабины
		td.table__cell шт.
		td.table__cell 4000
	tr.table__row
		td.table__cell.first-col Монтаж душевого поддона
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Изготовление душевого поддона
		td.table__cell шт.
		td.table__cell 4200
	tr.table__row
		td.table__cell.first-col Устройство подиума для душ кабины
		td.table__cell шт.
		td.table__cell 3500
	tr.table__row
		td.table__cell.first-col Монтаж подиума под душевую кабинку
		td.table__cell шт.
		td.table__cell 400
	tr.table__row
		td.table__cell.first-col Монтаж подиума под ванну
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж экрана для ванной
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж душевого экрана
		td.table__cell шт.
		td.table__cell 1600
	tr.table__row
		td.table__cell.first-col Монтаж экрана ГКЛ с облицовкой кафелем 
		td.table__cell шт.
		td.table__cell 3000
	tr.table__row
		td.table__cell.first-col Монтаж душевой стойки
		td.table__cell шт.
		td.table__cell 1400
	tr.table__row
		td.table__cell.first-col Монтаж душевых створок 
		td.table__cell шт.
		td.table__cell 1600
	tr.table__row
		td.table__cell.first-col Монтаж душевой панели
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Монтаж сливного трапа 
		td.table__cell шт.
		td.table__cell 1400
	tr.table__row
		td.table__cell.first-col Герметизация ванной
		td.table__cell м. пог.
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Гидроизоляция швов
		td.table__cell шт.
		td.table__cell 3500
	tr.table__row
		td.table__cell.first-col Облицовка душевого поддона кафельной плиткой
		td.table__cell шт.
		td.table__cell 1900
	tr.table__row
		td.table__cell.first-col Облицовка душевого поддона керамогранитом
		td.table__cell шт.
		td.table__cell 2300
	tr.table__row
		td.table__cell.first-col Облицовка душевого поддона мозайкой (с затиркой)
		td.table__cell шт.
		td.table__cell 2600
	tr.table__row
		td.table__cell.first-col Сверление отверстия по кафелю
		td.table__cell шт.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж раковины
		td.table__cell шт.
		td.table__cell 1300
	tr.table__row
		td.table__cell.first-col Монтаж раковины с тумбой 
		td.table__cell шт.
		td.table__cell 1800
	tr.table__row
		td.table__cell.first-col Монтаж кухонной мойки
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Монтаж смесителя
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж смесителя с душ лейкой
		td.table__cell шт.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Установка штанги для душа
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Установка шарового крана
		td.table__cell шт.
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж унитаза
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж инсталляции
		td.table__cell шт.
		td.table__cell 4500
	tr.table__row
		td.table__cell.first-col Монтаж подводки для гигиенического душа
		td.table__cell шт.
		td.table__cell 4000
	tr.table__row
		td.table__cell.first-col Монтаж гигиенического душа на готовую подводку
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Монтаж биде
		td.table__cell шт.
		td.table__cell 1700
	tr.table__row
		td.table__cell.first-col Монтаж писсуара
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж счётчика учёта воды
		td.table__cell шт.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Монтаж крана отсечки 
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Монтаж фильтра тонкой очистки
		td.table__cell шт.
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Монтаж фильтра грубой очистки
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж бойлера
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж/подключение стиральной машины
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Монтаж электрического полотенцесушителя
		td.table__cell шт.
		td.table__cell 1300
	tr.table__row
		td.table__cell.first-col Демонтаж, монтаж полотенцесушителя
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Замена креплений полотенцесушителя
		td.table__cell компл.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Крепление кронштейнов для радиатора
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Монтаж радиатора отопления
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж радиатора с байпасом
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Покраска радиатора
		td.table__cell шт.
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Покраска труб
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Шумоизоляция труб
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Установка теплосчетчика
		td.table__cell шт.
		td.table__cell 2300
	tr.table__row
		td.table__cell.first-col Замена счетчика отопления
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Изготовление короба на радиатор отопления
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Монтаж короба на радиатор отопления
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Изготовление экрана на радиатор отопления
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Монтаж сантехнического шкафа
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Монтаж сантехнического люка
		td.table__cell шт.
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Монтаж мелкой сантехнической фурнитуры
		td.table__cell шт.
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Врезка в стояк ГВС, ХВС
		td.table__cell шт.
		td.table__cell 4100
	tr.table__row
		td.table__cell.first-col Монтаж стояка водоснабжения
		td.table__cell шт.
		td.table__cell 3200
	tr.table__row
		td.table__cell.first-col Разводка труб гор. водоснабжения
		td.table__cell точка
		td.table__cell 1800
	tr.table__row
		td.table__cell.first-col Разводка труб хол. водоснабжения
		td.table__cell точка
		td.table__cell 1800
	tr.table__row
		td.table__cell.first-col Разводка фановых труб
		td.table__cell компл.
		td.table__cell 3150
	tr.table__row
		td.table__cell.first-col Подвод к водопроводной сети
		td.table__cell шт.
		td.table__cell От 1000
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж фанового насоса
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Монтаж коллектора
		td.table__cell шт.
		td.table__cell 650
	tr.table__row
		td.table__cell.first-col Монтаж хомутов
		td.table__cell шт.
		td.table__cell 320
	tr.table__row
		td.table__cell.first-col Монтаж фанового тройника-узла
		td.table__cell шт.
		td.table__cell 3500
	tr.table__row
		td.table__cell.first-col Монтаж сливного трапа 
		td.table__cell шт.
		td.table__cell 1300