table.table__price.table__price3
	tr.table__row.header__row
		th.table__header.first-col-head Наименование работ
		th.table__header Ед. изм.
		th.table__header Цена (руб)
	tr.table__row
		td.table__cell.first-col Устройство каркаса
		td.table__cell м²
		td.table__cell 225
	tr.table__row
		td.table__cell.first-col Устройство ГКЛ на каркас в один слой
		td.table__cell м²
		td.table__cell 325
	tr.table__row
		td.table__cell.first-col Устройство ГКЛ на каркас в два слоя
		td.table__cell м²
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Устройство ГКЛ перегородки в один слой
		td.table__cell м²
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Укладка минваты
		td.table__cell м²
		td.table__cell 60
	tr.table__row
		td.table__cell.first-col Устройство тепло-звуко изоляции (пеноплекс)
		td.table__cell м²
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Шпатлёвка ГКЛ (с учётом «серпянки» и заделки швов)
		td.table__cell м²
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Монтаж малярной сетки (серпянка) + заделка швов
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Устройство арки ГКЛ
		td.table__cell шт.
		td.table__cell 2100
	tr.table__row
		td.table__cell.first-col Расширение дверного проема
		td.table__cell шт.
		td.table__cell 1300
	tr.table__row
		td.table__cell.first-col Уменьшение дверного проема
		td.table__cell м. пог.
		td.table__cell 650
	tr.table__row
		td.table__cell.first-col Заделка дверного проема ГКЛ
		td.table__cell шт.
		td.table__cell 1200
	tr.table__row
		td.table__cell.first-col Перенос дверного проема в ГКЛ
		td.table__cell шт.
		td.table__cell 1200
	tr.table__row
		td.table__cell.first-col Формирование проёма двери ГКЛ
		td.table__cell шт.
		td.table__cell 1100
	tr.table__row
		td.table__cell.first-col Монтаж пазогребниевой перегородки
		td.table__cell м²
		td.table__cell 900
	tr.table__row
		td.table__cell.first-col Устройство перегородки (пенобетон, газобетон)
		td.table__cell м²
		td.table__cell 900
	tr.table__row
		td.table__cell.first-col Устройство пенала в перегородке ГКЛ
		td.table__cell шт.
		td.table__cell 2900
	tr.table__row
		td.table__cell.first-col Формирование проёма двери в газобетоне (пенобетоне)
		td.table__cell шт.
		td.table__cell 1550
	tr.table__row
		td.table__cell.first-col Перенос дверного проема (газобетон, пенобетон)
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж гофры
		td.table__cell м. пог.
		td.table__cell 220
	tr.table__row
		td.table__cell.first-col Монтаж решетки
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Монтаж подоконника
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Формирование откоса окна
		td.table__cell шт.
		td.table__cell 1500
	tr.table__row
		td.table__cell.first-col Отделка откосов
		td.table__cell шт.
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Отделка откосов ГКЛ
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Отделка откосов Штукатурка
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Отделка откосов окна (демонтаж, монтаж уголков)
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Отделка откосов балконного блока
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Отделка откосов ниши радиатора
		td.table__cell шт.
		td.table__cell 1800
	tr.table__row
		td.table__cell.first-col Отделка ниши радиатора (комплекс)
		td.table__cell шт.
		td.table__cell 2900
	tr.table__row
		td.table__cell.first-col Отделка ниши радиатора (грунт, покраска)
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Монтаж закладной
		td.table__cell шт.
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Устройство скрытого люка ревизии
		td.table__cell шт.
		td.table__cell 1400
	tr.table__row
		td.table__cell.first-col Устройство люка ревизии пластик
		td.table__cell шт.
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Устройство короба ПВХ
		td.table__cell шт.
		td.table__cell 2300
	tr.table__row
		td.table__cell.first-col Устройство короба ГКЛ
		td.table__cell шт.
		td.table__cell 1750
	tr.table__row
		td.table__cell.first-col Устройство короба под инсталляцию
		td.table__cell шт.
		td.table__cell 3000
	tr.table__row
		td.table__cell.first-col Устройство короба ГКЛ по инд.проекту
		td.table__cell шт.
		td.table__cell от 3000
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Обработка стен антигрибком
		td.table__cell м²
		td.table__cell 80
	tr.table__row
		td.table__cell.first-col Грунтовка стен бетаконтактом
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Монтаж малярной сетки
		td.table__cell м²
		td.table__cell 60
	tr.table__row
		td.table__cell.first-col Визуальное выравнивание до 2 см. под правило
		td.table__cell м²
		td.table__cell 230
	tr.table__row
		td.table__cell.first-col Визуальное выравнивание до 0,6 мм. под правило
		td.table__cell м²
		td.table__cell 190
	tr.table__row
		td.table__cell.first-col Монтаж штукатурных маяков
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Оштукатуривание под маяк
		td.table__cell м²
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Нанесение насечек на стены
		td.table__cell м²
		td.table__cell 60
	tr.table__row
		td.table__cell.first-col Устройство шумоизоляции (пеноплекс)
		td.table__cell м²
		td.table__cell 180
	tr.table__row
		td.table__cell.first-col Установка уголков армирующих
		td.table__cell м. пог.
		td.table__cell 96
	tr.table__row
		td.table__cell.first-col Монтаж маляного уголка
		td.table__cell м. пог.
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Штукатурка стен гипсовым раствором (под правило)
		td.table__cell м²
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Грунтовка в 4 цикла
		td.table__cell м²
		td.table__cell 140
	tr.table__row
		td.table__cell.first-col Грунтовка в 3 цикла
		td.table__cell м²
		td.table__cell 110
	tr.table__row
		td.table__cell.first-col Грунтовка в 2 цикла
		td.table__cell м²
		td.table__cell 70
	tr.table__row
		td.table__cell.first-col Грунтовка в 1 цикла
		td.table__cell м²
		td.table__cell 40
	tr.table__row
		td.table__cell.first-col Шпатлёвка (в 2 слоя)
		td.table__cell м²
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Ошкуривание
		td.table__cell м²
		td.table__cell 50
	tr.table__row
		td.table__cell.first-col Мелкозернистая шпатлёвка под окраску
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Шлифовка стен под покраску
		td.table__cell м²
		td.table__cell 60
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Поклейка обоев без подгонки рисунка (бумажные, виниловые, флизелиновые) в зависимости от сложности
		td.table__cell м²
		td.table__cell 170
	tr.table__row
		td.table__cell.first-col Поклейка обоев с подгонкой рисунка (бумажные, виниловые, флизелиновые) в зависимости от сложности
		td.table__cell м²
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Поклейка фотообоев (кроме бумажных)
		td.table__cell м²
		td.table__cell 360
	tr.table__row
		td.table__cell.first-col Поклейка обоев под покраску
		td.table__cell м²
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Нанесение жидких обоев
		td.table__cell м²
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Поклейка стеклообоев на стены
		td.table__cell м²
		td.table__cell 200
	tr.table__row
		td.table__cell.first-col Покраска стен в/д краской в 2 слоя (по обоям, по шпатлёвке)
		td.table__cell м²
		td.table__cell 120
	tr.table__row
		td.table__cell.first-col Покраска стен валиком (фактурная покраска)
		td.table__cell м²
		td.table__cell 190
	tr.table__row
		td.table__cell.first-col Нанесение декоративной штукатурки
		td.table__cell м²
		td.table__cell от 1000
	tr.table__row
		td.table__cell.first-col Нанесение венецианской штукатурки
		td.table__cell м²
		td.table__cell 1300
	tr.table__row
		td.table__cell.first-col Покраска труб
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Покраска радиатора
		td.table__cell шт.
		td.table__cell 550
	tr.table__row
		td.table__cell.first-col Покраска двери
		td.table__cell шт.
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Обшивка стен ПВХ панелью
		td.table__cell м²
		td.table__cell 152
	tr.table__row
		td.table__cell.first-col Монтаж ПВХ на клей
		td.table__cell м²
		td.table__cell 280
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Установка дверного блока двухстворчатая (готовый комплект)
		td.table__cell шт.
		td.table__cell 5200
	tr.table__row
		td.table__cell.first-col Установка дверного блока (готовый комплект)
		td.table__cell шт.
		td.table__cell 4000
	tr.table__row
		td.table__cell.first-col Установка доборов
		td.table__cell м. пог.
		td.table__cell 170
	tr.table__row
		td.table__cell.first-col Установка дверной ручки
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col Врезка дверного замка без врезки
		td.table__cell шт.
		td.table__cell 600
	tr.table__row
		td.table__cell.first-col Установка двери типа "гармошка"
		td.table__cell шт.
		td.table__cell 2500
	tr.table__row
		td.table__cell.first-col Установка дверных петель
		td.table__cell комп.
		td.table__cell 260
	tr.table__row
		td.table__cell.first-col Подпил двери
		td.table__cell шт.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Установка доводчика
		td.table__cell шт.
		td.table__cell 450
	tr.table__row
		td.table__cell.first-col Установка отбойника
		td.table__cell шт.
		td.table__cell 250
	tr.table__row
		td.table__cell.first-col.first-col-title(colspan='3')
	tr.table__row
		td.table__cell.first-col Облицовка стен кафельной плиткой одного рисунка (15*20)
		td.table__cell м²
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Облицовка стен кафельной плиткой одного рисунка (35*15, 40*30,60*40,50*40)
		td.table__cell м²
		td.table__cell 1100
	tr.table__row
		td.table__cell.first-col Облицовка стен кафельной плиткой по диагонали (дополнительно к стоимости облицовки кафельной плитки одного рисунка)
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Облицовка стен кафельной плиткой по диагонали
		td.table__cell м²
		td.table__cell 800
	tr.table__row
		td.table__cell.first-col Укладка керамогранита вместо плитки (дополнительно к стоимости облицовки кафельной плитки)
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Монтаж кафельного бордюра
		td.table__cell м. пог.
		td.table__cell 350
	tr.table__row
		td.table__cell.first-col Устройство кафельного фартука
		td.table__cell м²
		td.table__cell 1100
	tr.table__row
		td.table__cell.first-col Затирка швов
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Подрезка кафеля для облицовки коробов
		td.table__cell м. пог.
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Облицовка стен мозаикой
		td.table__cell м²
		td.table__cell 2000
	tr.table__row
		td.table__cell.first-col Затирка швов
		td.table__cell м²
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Затирка швов эпоксидная
		td.table__cell м²
		td.table__cell 300
	tr.table__row
		td.table__cell.first-col Укладка плитки по коробам в одной плоскости
		td.table__cell м. пог.
		td.table__cell 750
	tr.table__row
		td.table__cell.first-col Монтаж карандаша
		td.table__cell м²
		td.table__cell 165
	tr.table__row
		td.table__cell.first-col Установка уголков плиточных
		td.table__cell м. пог.
		td.table__cell 130
	tr.table__row
		td.table__cell.first-col Облицовка коробов, ниш, откосов плиткой
		td.table__cell м. пог.
		td.table__cell 500
	tr.table__row
		td.table__cell.first-col Резка плитки по радиусу
		td.table__cell м. пог.
		td.table__cell 1000
	tr.table__row
		td.table__cell.first-col Вырез отверстий в плитке
		td.table__cell шт.
		td.table__cell 150
	tr.table__row
		td.table__cell.first-col Запил плитки под 45 градусов
		td.table__cell м. пог.
		td.table__cell 700
	tr.table__row
		td.table__cell.first-col Установка декоративных уголков
		td.table__cell м. пог.
		td.table__cell 100
	tr.table__row
		td.table__cell.first-col Устройство декора из полиуретана
		td.table__cell м²
		td.table__cell 550