//Пятый блок
div#cosmetic
div.main__block.cosmetic
	div.portfolio__block1
		div.portfolio__container
			h3.portfolio__title КОСМЕТИЧЕСКИЙ РЕМОНТ
	div.portfolio__block2
		div.portfolio__container
			div.slider
				div.slides
					input#cosmetic1.portfolio__input(type='radio' name='cosmetic' checked)
					input#cosmetic2.portfolio__input(type='radio' name='cosmetic')
					input#cosmetic3.portfolio__input(type='radio' name='cosmetic')
					input#cosmetic4.portfolio__input(type='radio' name='cosmetic')
					div.slide.slide1
						a(href="img/slider/cosmetic-1.jpg" target="_blank")
							img.slide__img(src='img/slider/cosmetic-1cut.jpg')
					div.slide.slide2
						a(href="img/slider/cosmetic-2.jpg" target="_blank")
							img.slide__img(src='img/slider/cosmetic-2cut.jpg')
					div.slide.slide3
						a(href="img/slider/cosmetic-3.jpg" target="_blank")
							img.slide__img(src='img/slider/cosmetic-3cut.jpg')
					div.slide.slide4
						a(href="img/slider/cosmetic-4.jpg" target="_blank")
							img.slide__img(src='img/slider/cosmetic-4cut.jpg')
				div.portfolio__navigation
					label.portfolio__bar(for='cosmetic1')
					label.portfolio__bar(for='cosmetic2')
					label.portfolio__bar(for='cosmetic3')
					label.portfolio__bar(for='cosmetic4')
//Шестой блок
div#capital
div.main__block.capital
	div.portfolio__block1
		div.portfolio__container
			h3.portfolio__title КАПИТАЛЬНЫЙ РЕМОНТ
	div.portfolio__block2
		div.portfolio__container
			div.slider
				div.slides
					input#capital1.portfolio__input(type='radio' name='capital' checked)
					input#capital2.portfolio__input(type='radio' name='capital')
					input#capital3.portfolio__input(type='radio' name='capital')
					input#capital4.portfolio__input(type='radio' name='capital')
					div.slide.slide1
						a(href="img/slider/capital-1.jpg" target="_blank")
							img.slide__img(src='img/slider/capital-1cut.jpg')
					div.slide.slide2
						a(href="img/slider/capital-2.jpg" target="_blank")
							img.slide__img(src='img/slider/capital-2cut.jpg')
					div.slide.slide3
						a(href="img/slider/capital-3.jpg" target="_blank")
							img.slide__img(src='img/slider/capital-3cut.jpg')
					div.slide.slide4
						a(href="img/slider/capital-4.jpg" target="_blank")
							img.slide__img(src='img/slider/capital-4cut.jpg')
				div.portfolio__navigation
					label.portfolio__bar(for='capital1')
					label.portfolio__bar(for='capital2')
					label.portfolio__bar(for='capital3')
					label.portfolio__bar(for='capital4')
//Седьмой блок
div#new
div.main__block.new
	div.portfolio__block1
		div.portfolio__container
			h3.portfolio__title РЕМОНТ В НОВОСТРОЙКЕ
	div.portfolio__block2
		div.portfolio__container
			div.slider
				div.slides
					input#new1.portfolio__input(type='radio' name='new' checked)
					input#new2.portfolio__input(type='radio' name='new')
					input#new3.portfolio__input(type='radio' name='new')
					input#new4.portfolio__input(type='radio' name='new')
					div.slide.slide1
						a(href="img/slider/new-1.jpg" target="_blank")
							img.slide__img(src='img/slider/new-1cut.jpg')
					div.slide.slide2
						a(href="img/slider/new-2.jpg" target="_blank")
							img.slide__img(src='img/slider/new-2cut.jpg')
					div.slide.slide3
						a(href="img/slider/new-3.jpg" target="_blank")
							img.slide__img(src='img/slider/new-3cut.jpg')
					div.slide.slide4
						a(href="img/slider/new-4.jpg" target="_blank")
							img.slide__img(src='img/slider/new-4cut.jpg')
				div.portfolio__navigation
					label.portfolio__bar(for='new1')
					label.portfolio__bar(for='new2')
					label.portfolio__bar(for='new3')
					label.portfolio__bar(for='new4')