//Пятый блок
div#cosmetic
div.main__block.cosmetic
  div.portfolio__block1
    div.portfolio__container
      h3.portfolio__title КОСМЕТИЧЕСКИЙ РЕМОНТ
  div.portfolio__block2
    div.portfolio__container
      div.slider
        div.slides
          input#cosmetic1.portfolio__input(type='radio' name='cosmetic' checked)
          input#cosmetic2.portfolio__input(type='radio' name='cosmetic')
          input#cosmetic3.portfolio__input(type='radio' name='cosmetic')
          input#cosmetic4.portfolio__input(type='radio' name='cosmetic')
          div.slide.slide1
            img.slide__img(src='img/slider/cosmetic-1.jpg')
          div.slide.slide2
            img.slide__img(src='img/slider/cosmetic-2.jpg')
          div.slide.slide3
            img.slide__img(src='img/slider/cosmetic-3.jpg')
          div.slide.slide4
            img.slide__img(src='img/slider/cosmetic-4.jpg')
        div.portfolio__navigation
          label.portfolio__bar(for='cosmetic1')
          label.portfolio__bar(for='cosmetic2')
          label.portfolio__bar(for='cosmetic3')
          label.portfolio__bar(for='cosmetic4')
//Шестой блок
div#capital
div.main__block.capital
  div.portfolio__block1
    div.portfolio__container
      h3.portfolio__title КАПИТАЛЬНЫЙ РЕМОНТ
  div.portfolio__block2
    div.portfolio__container
      img.capital__photo(src='img/capital-1.JPG')
      img.capital__photo(src='img/capital-2.JPG')
      img.capital__photo(src='img/capital-3.JPG')
      img.capital__photo(src='img/capital-4.JPG')
//Седьмой блок
div#new
div.main__block.new
  div.portfolio__block1
    div.portfolio__container
      h3.portfolio__title РЕМОНТ В НОВОСТРОЙКЕ
  div.portfolio__block2
    div.portfolio__container
    img.new__photo(src='img/new-1.JPG')
    img.new__photo(src='img/new-2.JPG')
    img.new__photo(src='img/new-3.JPG')
    img.new__photo(src='img/new-4.JPG')